<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet"
    href="{{ url_for('static' , filename='css/style.css') }}">
</head>
<body>

    <h1>Hello i am Heading 1</h1>
    <h2>Hello i am Heading 2</h2>
    <h3>Hello i am Heading 3</h3>
    <h4>Hello i am Heading 4</h4>
    <h5>Hello i am Heading 5</h5>
    <h6>Hello i am Heading 6</h6>


    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, molestiae corrupti vel animi rerum natus optio provident nam dolorem. Tempore rerum facere error nam suscipit inventore quis cupiditate! Vitae, quaerat!
    </p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nam, id accusantium illo tenetur eveniet officiis qui sunt impedit. Sint perferendis illo sunt, explicabo, a, accusantium saepe deserunt optio exercitationem id aliquam ab voluptatum iure repellendus at deleniti odit adipisci! Dolorum tenetur tempora saepe quibusdam obcaecati nulla quas numquam nesciunt, reprehenderit id explicabo vel nostrum eius, ad exercitationem! Eius cupiditate blanditiis harum ipsam veritatis non natus itaque provident ab! Corrupti recusandae laboriosam libero sit possimus aut quis facere, quas cum inventore. Necessitatibus nemo deserunt numquam iusto, temporibus saepe vel tenetur fugiat molestiae ex natus ipsa accusamus. Dolor assumenda dicta natus?</p>

    <img src="https://images.pexels.com/photos/2325447/pexels-photo-2325447.jpeg?auto=compress&cs=tinysrgb&w=1200" alt="nature image" height="300">
    
</body>
</html>